// compress: true
@import "normalize";
@import "vars";

html {
  font-size: 15px;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-size: 16px;
  color: @black;
  background: @white;

  // Клас для не можливості скроллу в модалці
  &.no-scroll {
    overflow: hidden;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
  line-height: 1.6;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.section-title {
  font-size: 2.5rem;
  font-family: "Montserrat-700", sans-serif;
  text-align: center;
  margin-bottom: 50px;
}
// Сповіщення валідації форми
.invalid {
  color: #ec1f46;
  border-bottom: 1px solid #ec1f46;
}
// Blocks
@import "blocks/container";
@import "blocks/header";
@import "blocks/user";
@import "blocks/nav";
@import "blocks/intro";
@import "blocks/social";
@import "blocks/fonts";
@import "blocks/portfolio";
@import "blocks/card";
@import "blocks/button";
@import "blocks/features";
@import "blocks/about-me";
@import "blocks/skills";
@import "blocks/modal";
@import "blocks/footer";
@import "blocks/scroll-up";
@import "blocks/thank-you";
@import "blocks/burger-menu";
@import "blocks/scroll-bar";
