// main: ../styles.less
.card {
  background-color: @bgc;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 4px fade(#000, 25%);
  transition: box-shadow 0.2s linear;
  &:hover {
    box-shadow: 0 0 25px fade(#000, 25%);
  }
}
.card__preview {
  position: relative;
  max-width: 450px;
  height: 320px;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  box-shadow: 0 0 4px fade(#000, 25%);
  overflow: hidden;
}
.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
}
.card__info {
  display: flex;
  flex-direction: column;
}
.card__title {
  text-align: center;
  font-family: "Montserrat-700", sans-serif;
  font-feature-settings: "locl" 0;
  font-size: 1.6rem;
  margin-bottom: 20px;
}
.card__subtitle {
  font-family: "Montserrat-700", sans-serif;
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.card__text {
  color: @grey;
  margin-bottom: 15px;
}
.card__wrapper {
  display: flex;
  justify-content: space-around;
}
.card__badge {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.card__badge-1 {
  margin-bottom: 5px;
  color: @grey;
}
.card__badge-2 {
  font-weight: 700;
}
.card__btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

// media
@media (max-width: 768px) {
  .card__wrapper {
    margin-bottom: 20px;
  }
  .card__title {
    font-size: 1.3rem;
  }
  .card__badge-1,
  .card__badge-2 {
    font-size: 14px;
  }
  .card__subtitle {
    font-size: 1rem;
  }
  .card__text {
    font-size: 14px;
  }
}
@media (max-width: 440px) {
  .card {
    padding: 20px 10px;
  }

  .card__content {
    padding: 0 10px;
  }
}
