// main: ../styles.less
.header {
  padding: 8px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;

  &:before {
    content: "";
    position: absolute;
    z-index: 120;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: @bgc;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
