// main: ../styles.less
.header {
  padding: 8px 0;
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 99;
  width: 100%;
  transform: translateX(-50%);
  background: @white;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
