// main: ../styles.less
.header {
  padding: 1.2rem 0;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user__name {
  font-family: "HKGrotesk-700", sans-serif;
  font-feature-settings: "locl" 0;
}
