// main: ../styles.less
.intro {
  margin-bottom: 160px;
}
.intro__inner {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 2px solid fade(@grey, 30%);
  padding-bottom: 30px;
  padding-top: 140px;
}
.intro__content {
  margin-right: 160px;
}
.intro__photo {
  flex: 0 0 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 15px #000;
}
.intro__img {
  max-width: 100%;
  margin-top: -50px;
}
.intro__subtitle {
  font-size: 2.13rem;
  color: @black;
  font-weight: 200;
}
.intro__title {
  font-size: 3.2rem;
  font-weight: 700;
  color: @black;
  margin-bottom: 5px;
  font-family: "HKGrotesk-700", sans-serif;
  font-feature-settings: "locl" 0;
}
.intro__profession {
  font-size: 1.3rem;
  color: fade(@black, 70%);
  margin-bottom: 25px;
}
.intro__text {
  font-size: 1.2rem;
  color: @grey;
  font-weight: 300;
  margin-bottom: 25px;
  max-width: 600px;
}

// Media
@media (max-width: 992px) {
  .intro__inner {
    flex-direction: column-reverse;
    text-align: center;
  }
  .intro__content {
    margin-right: 0;
  }
  .intro__photo {
    flex: 0 0 auto;
    width: 300px;
    margin-bottom: 30px;
  }
  .intro__text {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .intro {
    margin-bottom: 100px;
  }
  .intro__inner {
    padding-top: 100px;
  }
  .intro__photo {
    width: 170px;
    height: 170px;
  }
  .intro__img {
    margin-top: -30px;
  }
  .intro__subtitle {
    font-size: 1.8rem;
  }
  .intro__title {
    font-size: 2.7rem;
  }
  .intro__profession {
    font-size: 1.1rem;
  }
  .intro__text {
    font-size: 1.1rem;
  }
}
