// main: ../styles.less
.portfolio {
  margin-bottom: 130px;
}
.portfolio__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.portfolio__column {
  flex: 0 1 50%;
  padding: 0 10px;
  margin-bottom: 70px;
  &:last-child {
    margin-bottom: 0;
  }
}

// media
@media (max-width: 992px) {
  .portfolio__wrapper {
    flex-direction: column;
  }
  .portfolio__column {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
@media (max-width: 768px) {
  .portfolio {
    margin-bottom: 80px;
  }
}
