// main: ../styles.less
.skills {
  margin-bottom: 130px;
}
.skills__wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.skills__title {
  margin-bottom: 10px;
}
.skills__card {
  min-height: 566px;
}
