// main: ../styles.less

.social {
  margin-bottom: 42px;
  display: flex;
}
.social__link {
  text-decoration: none;
  margin-right: 10px;
  transition: transform 0.2s linear;

  &:hover {
    transform: translateY(-5px);
  }
}
.social__ico {
  width: 41px;
  height: 41px;
}
