// main: ../styles.less
.header--ty {
  position: static;
  transform: translateX(0);
}
.thank-you {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.thank-you__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
  margin-top: -100px;
}
.thank-you__ico {
  font-size: 54px;
  color: @main;
  margin-bottom: 30px;
}
.thank-you__title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.thank-you__subtitle {
  font-size: 18px;
  margin-bottom: 30px;
}
.thank-you__btn {
  display: inline-block;
  margin-left: 0;
}
.footer--ty {
  position: absolute;
  bottom: 0;
  width: 100%;
}
